<%= @foo %>

<br>
<br>

<h1>Recent Tweets</h1>

<table>
  <thead>
  <tr>
    <th>Tweets</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @stuff.each do |follower| %>
      <tr>
        <td><%= follower.inspect %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<br>