<h1>Followers for <%= @username %></h1>

<table>
  <thead>
  <tr>
    <th>Followers</th>
  </tr>
  </thead>

  <tbody>
  <% @followers.each do |follower| %>
      <tr>
        <td><%= follower %></td>
      </tr>
  <% end %>
  </tbody>
</table>