<h1>Intersection for <%= @first %> and <%= @second %></h1>

<table class="table">
  <thead>
  <tr>
    <th>Followers</th>
  </tr>
  </thead>

  <tbody>
  <% @intersection.each do |follower| %>
      <tr>
        <td><%= follower %></td>
      </tr>
  <% end %>
  </tbody>
</table>